<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Service Dashboard</a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="#">Welocme {{ user.username }}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'dashboard:logout' %}">Logout</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="">Hello Anonymous User</a>
                  </li>
              {% endif %}
          </ul>
      </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
